<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">
        <script src="/js/app.js"></script>
    </head>
    <title>

    </title>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/BinaryTree.jpg" style="opacity: 0.5;">
         </div>
        
        {{>footer}}
    </body>
</html>